<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
  .body{
        font-family: 'lora';
        font-size: 17px;
        line-height: 1.5;
        background-color: #fff;
        background-image: url(../abstract-seamless-heart-pattern-background-paper-vector-23399901.jpg);
        background-attachment: scroll;
    }
    </style>
    <title>Document</title>
</head>
<body>
    
</body>
</html>